/* reset do padrão do navegador */
* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}
/* reset do padrão do navegador */

body, html {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    scroll-behavior: smooth;
    background-color: #FAEBD7;
}

/* tamanho da logo */
.logo > img {
    max-width: 50%;
}
/* tamanho da logo */

/* centralizar o conteudo do header */
header {
    width: 100%;
    min-height: 10vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #FAEBD7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/* centralizar o conteudo do header */

::placeholder {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

    font-size: 1.1em;
    color: #a55b2a;
}

button {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;

    cursor: pointer;
}

h1 {
    color: #51260e;
}

p {
    color: #a55b2a;
}

strong {
    color: #51260e;
}

.slogan-procurar {
    margin-top: 20px;
    display: flex;
    align-items: center; 

    border-radius: 2px;
    border: 1px solid #a55b2a;
}

.slogan-procurar > i {
    margin-left: 10px;
    color: #58280d;
}

.campo-pesquisa {
    padding: 15px;
    background-color: transparent;
}

.btn-procurar {
    border-radius: 1px;
    border: 1px solid #a55b2a;

    color: white;
    padding: 9px 25px;

    margin-left: 15px;
    transition: all .5s;
    background-color: #a55b2a;
}

.btn-procurar:hover {
    transition: all .5s;
    opacity: 0.8;
}

.logo {
    display: flex;
    justify-content: center;
}

/* navbar e efeitos */
nav, a {
    font-weight: 300;
    color: #58280d;
    margin: 0 1.5em;
    padding: 5px;
}

a:hover {
    border-bottom: 1px solid #a55b2a;
}

/* navbar e efeitos */

/* estilização do button */
.btn-header {
    border-radius: 2px;
    border: 1px solid #a55b2a;

    background-color: transparent;
    color: #58280d;

    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;

    cursor: pointer;
    padding: 10px 15px 10px 15px;
    transition: all .5s;
}

.btn-header:hover {
    color: white;
    background-color: #a55b2a;
    transition: all .5s;
}

.btn-header .fa-location-dot {
    margin-left: 10px;
}
/* estilização do button */


#produtos{
    display: flex;
    justify-content: center;
    text-align: center;

}

.cards{
    border: 1px solid black;
    border-radius: 5%;
    margin: 30px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
.cards:hover{
    opacity: 0.9;
    background-color: #51260e;
    color: white;
}

.img{
    margin: 10%;
    text-align: center;
    transition: 0.5s;
}

img{
    width: 50%;
    text-align: center;
}

a{  
    font-weight: bolder;

}
/* estilização ´quem somos´ */

section {
    display: flex;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50vh;
}

#sobre {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50vh;
}

.sobre-vetor{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
}
/* estilização ´quem somos´ */


#contato {
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
}

form {
    margin-top: 30px;
    color: #58280d;
}

.logo-contato {
    text-align: center;
}

input[type=text], textarea {
    width: 100%;
    border-radius: 2px;

    box-sizing: border-box;
    resize: none;
}

form > input[type=text] {
    padding: 12px;
    border: 1px solid #58280d;

    margin-top: 6px;
    margin-bottom: 16px;
}

textarea {
    border: 1px solid #58280d;
    height: 250px;
}

.btn-contact {
    margin-top: 16px;
    border-radius: 2px;

    background-color: #a55b2a;
    color: white;

    padding: 12px 80px;
    transition: all .5s;
}

.btn-contact:hover {
    opacity: 0.8;
    transition: all .5s;
}

.btn-contact > .fa-paper-plane {
    margin-left: 10px;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    #sobre{
        width: 15%;
    }
    .imagem{
        width: 35%;
        margin-top: 60%;   
    }

    #produtos{
        width: 90%;   
    }

    .cards{
        margin-right: 1%;
        margin-left: 0%;
        margin-top: 15%;
        position: relative;
        right: 5%;
        
    }
}