/* reset do padrão do navegador */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* reset do padrão do navegador */

body, html {
    font-family: 'Poppins', sans-serif;
}

/* tamanho da logo */
.logo > img {
    max-width: 50%;
}
/* tamanho da logo */

/* centralizar o conteudo do header */
header {
    width: 100%;
    min-height: 10vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
/* centralizar o conteudo do header */

.logo {
    display: flex;
    justify-content: center;
}

/* navbar e efeitos */
nav, a {
    color: black;
    margin: 0 1.5em;
}

a:hover {
    border-bottom: 2px solid #51260e;
}

/* navbar e efeitos */

/* estilização do button */
button {
    border-radius: 5px;
    border: none;

    background-color: #51260e;
    color: white;

    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;

    cursor: pointer;
    padding: 10px 15px 10px 15px;
    transition: all .5s;
}

button:hover {
    opacity: 0.9;
    transition: all .5s;
}
/* estilização do button */

/* estilização ´quem somos´ */
section{
    display: grid;
    width: 40vw;
    margin-left: 10vw;
    margin-top: 18vw;
    color: #51260e;

}

.imagem{
    display: grid;
    width: 35vw;
    margin-left: 55vw;
    position: absolute;
    top: 20vw;
    right: 10vw;
}
/* estilização ´quem somos´ */
