/* reset do padrão do navegador */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* reset do padrão do navegador */

body, html {
    font-family: 'Poppins', sans-serif;
}

/* tamanho da logo */
.logo > img {
    max-width: 50%;
}
/* tamanho da logo */

/* centralizar o conteudo do header */
header {
    width: 100%;
    min-height: 10vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #FAEBD7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/* centralizar o conteudo do header */

.logo {
    display: flex;
    justify-content: center;
}

/* navbar e efeitos */
nav, a {
    font-weight: 300;
    color: #58280d;
    margin: 0 1.5em;
    padding: 5px;
}

a:hover {
    border-bottom: 1px solid #a55b2a;
}

/* navbar e efeitos */

/* estilização do button */
button {
    border-radius: 2px;
    border: 1px solid #a55b2a;

    background-color: transparent;
    color: #58280d;

    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;

    cursor: pointer;
    padding: 10px 15px 10px 15px;
    transition: all .5s;
}

button:hover {
    color: white;
    background-color: #a55b2a;
    transition: all .5s;
}

button .fa-location-dot {
    margin-left: 10px;
}
/* estilização do button */


#produtos{
    display: flex;
    justify-content: center;
    text-align: center;

}

.cards{
    border: 1px solid black;
    border-radius: 5%;
    margin: 30px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
.cards:hover{
    opacity: 0.9;
    background-color: #51260e;
    color: white;
}

.img{
    margin: 10%;
    text-align: center;
    transition: 0.5s;
}

img{
    width: 50%;
    text-align: center;
}

a{  
    font-weight: bolder;

}
/* estilização ´quem somos´ */

section {
    display: flex;
}

#sobre{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50vh;

    background-color: #FAEBD7;
}

.sobre-descricao > h1 {
    color: #58280d;
}

.sobre-descricao > p {
    color: #a55b2a;
}

.sobre-vetor{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
}
/* estilização ´quem somos´ */
